<form class="note-form">
  <mat-form-field>
    <mat-label>Note Title</mat-label>
    <input [formControl]="noteTitle" matInput placeholder="Ex. Send an email" />
  </mat-form-field>

  <mat-form-field class="note-field">
    <mat-label>Leave a note</mat-label>
    <textarea
      [formControl]="noteContent"
      class="note-textarea"
      matInput
      placeholder="Ex. Let's have a..."
    >
    </textarea>
  </mat-form-field>
</form>

<app-note-bottom-navbar (backClicked)="goToListPage()" />
