$bblSize: 3.4rem;
$buttonColor: var(--mat-secondary-80);

nav {
  position: relative;
  display: flex;
  height: 100%;
}

.menu_wrapper {
  align-self: flex-end;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blur_wrapper {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 81%;
  filter: url(#blur_bubble);
  z-index: -1;
}

.blur_section {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  margin-top: -3%;
}

.blur_bubble {
  position: absolute;
  border-radius: 50%;
  width: $bblSize;
  height: $bblSize;
  opacity: 0;
  will-change: transform, opacity;
}

.blur_bubble_outer,
.blur_bubble_inner {
  translate: -50% 100%;
}

.blur_bubble_outer {
  --inner-button-color: #f4c0c06e;
  background: var(--inner-button-color);
  box-shadow: 0px 10px 5px 0px var(--inner-button-color);
}

.blur_bubble_inner {
  background: $buttonColor;
  box-shadow: 0px 10px 5px 0px var(--inner-button-color);
}

.main_bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  translate: -50% 120%;
  background: $buttonColor;
  z-index: 10000;
}

.main_bubble_icon {
  display: flex;
}

mat-icon {
  color: $buttonColor;
}

.active-page {
  color: var(--mat-primary-100);
}
