$bblSize: 3.4rem;
$buttonColor: var(--mat-secondary-80);

nav {
  position: relative;
  display: flex;
  height: 100%;
}

.menuWrapper {
  align-self: flex-end;
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bgWrapper {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 81%;
  filter: url(#blur_bubble);
}

.bg {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  margin-top: 1%;
}

.bg_bubble {
  position: absolute;
  border-radius: 50%;
  translate: -50% 100%;
  bottom: -74%;
  width: $bblSize;
  height: $bblSize;
  opacity: 0;
  will-change: transform, bottom;
}

.bg_bubble_outer {
  --inner-button-color: #f4c0c06e;
  background: var(--inner-button-color);
  box-shadow: 0px 10px 5px 0px var(--inner-button-color);
}

.bg_bubble_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  box-shadow: #38355800 0px 0px 20px 10px;
  background: $buttonColor;
}

.bg_icon {
  display: flex;
}

mat-icon {
  color: $buttonColor;
}

.active-page {
  color: var(--mat-primary-100);
}