<nav>
  <div class="menuWrapper">
    @for (icon of Icons; track $index) {
      @let route = routes[$index].value;
      <mat-icon
        #m_icon
        aria-hidden="false"
        id="m_icon{{ route }}"
        [fontIcon]="icon"
        (click)="switchBubble(route)"
      >
      </mat-icon>
    }
  </div>
  <div class="bgWrapper">
    <div class="bg"></div>
    <div class="bg_bubble_outer bg_bubble"></div>
    <div class="bg_bubble_inner bg_bubble">
      <span class="bg_icon">
        <mat-icon class="active-page" aria-hidden="false" [fontIcon]="currentIcon()"> </mat-icon>
      </span>
    </div>
  </div>
  <svg width="0" height="0" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <filter id="blur_bubble">
        <feGaussianBlur in="SourceGraphic" stdDeviation="20" result="blur" id="bb_filter" />
        <feColorMatrix
          in="blur"
          mode="matrix"
          values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 30 -15"
          result="goo"
        />
        <feComposite in="SourceGraphic" in2="goo" operator="atop" />
      </filter>
    </defs>
  </svg>
</nav>
