$bblSize: 9vw;
$minBblSize: 55px;
$maxBblSize: 120px;

nav {
  position: relative;
  display: flex;
  height: 100%;
}

.menuWrapper {
  align-self: flex-end;
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bgWrapper {
  position: absolute;
  width: 100%;
  height: 90%;
  bottom: 81%;
  filter: url(#blur_bubble);
}

.bg {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  margin-top: 1%;
}

.bg_bubble {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, 100%);
  bottom: -72%;
  width: $bblSize;
  height: $bblSize;
  min-width: $minBblSize;
  max-width: $maxBblSize;
  min-height: $minBblSize;
  max-height: $maxBblSize;
  opacity: 0;
  will-change: transform, bottom;
}

.bg_bubble_outer {
  background: #ffa7a7;
}

.bg_bubble_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  box-shadow: #38355800 0px 0px 20px 10px;
  background: #f4c0c0;
}

.bg_icon {
  display: flex;
}

.active-page {
  filter: invert(1);
}
