app-note {
    .medium-editor-toolbar {
        bottom: 10px;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--mat-primary);
        box-shadow: none;
        border: none;
        visibility: hidden !important;
    }

    .medium-editor-toolbar.open {
        visibility: visible !important;
    }

    .medium-editor-toolbar li button {
        background: var(--mat-primary);
        color: var(--mat-neutral);
        border: none;
    }

    .medium-editor-toolbar li .medium-editor-button-active,
    .medium-editor-toolbar li button:hover {
        background: var(--mat-primary-90);
        color: var(--mat-neutral);
    }

    .medium-editor-toolbar-actions {
        display: flex !important;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    ngx-colors {
        position: absolute;
        opacity: 0 !important;
    }
}

body:has(app-note) {
    ngx-colors-panel {
        translate: -3.375rem -1.25rem;
    }

    ngx-colors-panel > .opened {
        background: var(--mat-neutral) !important;
        box-shadow: var(--card-box-shadow) !important;
    }
}