.note-card {
	display: grid;
	gap: var(--space-2xs);
	border-radius: var(--space-2xs);
	box-shadow: var(--card-box-shadow);
	padding: var(--space-xs);
	cursor: pointer;
}

.note-card__content {
	display: grid;
	gap: var(--space-2xs);
}

.note-content-field {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

.note-content-field__title {
	-webkit-line-clamp: 1;
	line-clamp: 1;
}

.note-content-field__content {
	-webkit-line-clamp: 4;
	line-clamp: 4;
}

.note-card__footer {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.note-card__date {
	font-size: var(--font-1);
	line-height: var(--line-height-1);
	color: var(--text-color-grey);
}

.note-card__delete-icon {
	justify-self: flex-end;
	color: var(--mat-neutral);
}