.note {
  display: grid;
  gap: var(--space-2xs);
  border-radius: var(--space-2xs);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: var(--space-xs);
  max-height: 9.375rem;
  cursor: pointer;
}

.note-content {
  display: grid;
  gap: var(--space-2xs);
}

.delete-note-icon {
  justify-self: flex-end;
  color: var(--mat-neutral-50);
}