@use '@angular/material' as mat;
@use './m3-theme' as m3-theme;
@use './palettes' as p;
@use './mixins' as m;
@use '../app/content/note/note.override.scss';

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);
  @include m.define-css-variables(p.$palettes);
  --bg-color: var(--mat-primary-98);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  --mdc-filled-text-field-container-color: var(--bg-color);
}

.mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
  --mat-form-field-hover-state-layer-opacity: 0;
}

.mdc-line-ripple::before {
  --mdc-filled-text-field-active-indicator-color: var(--bg-color);
  --mdc-filled-text-field-hover-active-indicator-color: var(--bg-color);
}

.mdc-line-ripple::after {
  --mdc-filled-text-field-focus-active-indicator-color: var(--bg-color);
}
