@use './overrides.scss';

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	// fonts
	// /* Step 5: 25px → 35px */
	--font-5: clamp(1.5625rem, 0.9375rem + 2.025vw, 2.1875rem);
	// /* Step -1: 20px → 26px */
	--font--1: clamp(1.25rem, 0.75rem + 1.62vw, 1.625rem);

	// fonts-line-heights
	// /* LineH 5: 30px → 40px */
	--line-height-5: clamp(1.875rem, 0.9375rem + 2.7vw, 2.5rem);
	// /* LineH -1: 24px → 32px */
	--line-height--1: clamp(1.5rem, 0.75rem + 2.16vw, 2rem);

	// spaces
    /* Space 3xs: 4px → 10px */
    --space-3xs: clamp(0.25rem, 0.1438rem + 0.531vw, 0.625rem);
    /* Space 2xs: 8px → 20px */
    --space-2xs: clamp(0.5rem, 0.2876rem + 1.0619vw, 1.25rem);
    /* Space xs: 12px → 30px */
    --space-xs: clamp(0.75rem, 0.4314rem + 1.5929vw, 1.875rem);
    /* Space s: 16px → 40px */
    --space-s: clamp(1rem, 0.5752rem + 2.1239vw, 2.5rem);
    /* Space m: 24px → 60px */
    --space-m: clamp(1.5rem, 0.8628rem + 3.1858vw, 3.75rem);
    /* Space l: 32px → 80px */
    --space-l: clamp(2rem, 1.1504rem + 4.2478vw, 5rem);
    /* Space xl: 48px → 120px */
    --space-xl: clamp(3rem, 1.7257rem + 6.3717vw, 7.5rem);
    /* Space 2xl: 64px → 160px */
    --space-2xl: clamp(4rem, 2.3009rem + 8.4956vw, 10rem);
    /* Space 3xl: 96px → 240px */
    --space-3xl: clamp(6rem, 3.4513rem + 12.7434vw, 15rem);
}

h1 {
	font-size: var(--font-5);
	line-height: var(--line-height-5);
}

p, input, textarea, mat-label {
	font-size: var(--font--1);
	line-height: var(--line-height--1);
}

.mat-mdc-form-field-infix > input,
.mat-mdc-form-field-infix > textarea {
	font-size: var(--font--1) !important;
	line-height: var(--line-height--1) !important;
}

body {
	background-color: var(--bg-color);
}

.content > * {
	position: relative;
}