@use '@angular/material' as mat;
@use './m3-theme';

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
  --bg-color: #{mat.get-theme-color(m3-theme.$light-theme, primary, 98)};
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}
