<form #noteForm class="note_form">
  <div class="note_field note_field__title">
    <mat-label class="note_title__label">Note Title</mat-label>
    <div #noteTitle
        contenteditable="true"
        spellcheck="false"
        class="note_title__content"
        [innerHTML]="currentNote.title">
    </div>
  </div>

  <div class="note_field note_field__content">
    <mat-label class="note_content__label">Leave a note</mat-label>
    <div #noteContent
        contenteditable="true"
        spellcheck="false"
        class="note_content" 
        [innerHTML]="currentNote.content">
    </div>
  </div>
</form>
