$navbar-height: 4rem;

:host {
  display: flex;
}

.content {
  display: block;
  width: 100%;
  height: calc(100svh - #{$navbar-height});
  padding: var(--space-xs);
  padding-bottom: 0px;
  overflow-y: scroll;
}

app-navbar {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: $navbar-height;
}
