@for (note of store.notes(); track note.id) {
    <div class="note" (click)="goToNote(note.id)" (keyup.enter)="goToNote(note.id)" tabindex="0">
        <div class="note-content">
            <h1 class="note-content-field note-content-field__title">{{ note.title }}</h1>
            <p class="note-content-field note-content-field__content">{{ note.content }}</p>
        </div>
        <mat-icon
            class="delete-note-icon"
            aria-hidden="false"
            (click)="store.deleteNote(note.id)"
            (keyup.enter)="store.deleteNote(note.id)"
            tabindex="0">
            delete
        </mat-icon>
    </div>
}
@empty {
    <p>No notes found</p>
}