:host {
    display: grid;
}

.note-card-group {
    display: grid;
    gap: var(--space-xs);
}

.note-card-group-title {
    margin-bottom: var(--space-s);
    text-align: center;
}

.note-card-separator {
    width: 100%;
    height: 1px;
    background-color: var(--mat-neutral-80);
    margin-top: var(--space-m);
    margin-bottom: var(--space-s);
}